.link {
  padding: 5px
}

.message {
  color: green;
  background: lightslategray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 5px;
  background: lightsteelblue;
}
