.menulink {
  color: rgb(164, 174, 184);
}

.message {
  color: green;
  background: lightslategray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 5px;
}

.menubar {
  margin-bottom: 5px;
}

.gamebox {
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  margin-top: 30px;
  background: red;
  padding: 15px;
  color: yellow;
}

.gameboxtitle {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}

.gameboxplayer {
  font-size: 30px;
}
